{% extends 'mainpage/base.html'%}

{% block title %}{{ user_view.user.first_name }} {{ user_view.user.last_name }}{% endblock %}

{% block content %}
    <h1>{{ user_view.user.first_name }} {{ user_view.user.last_name }}</h1>
    {% if permissions != 'closed' %}
        <p>{{ user_view.user.email }}</p>
        <p><b>{{ list.sex }}: </b>{{ get_sex }}</p>
        <p><b>{{ list.age }}: </b>{{ user_view.age }}</p>
        <p><b>{{ list.country }}</b>: {{ user_view.country }}</p>
        <p><b>{{ list.city }}: </b>{{ user_view.city }}</p>
    {% else %}
        <h3>{{ list.permissions }}</h3>
    {% endif %}
{% endblock %}