{% extends 'mainpage/base.html'%}

{% block title %}{{ user_view.user.first_name }} {{ user_view.user.last_name }}{% endblock %}

{% load static %}

{% block content %}

    <div class="account">
        <link rel="stylesheet" href="{% static 'mainpage/account.css' %}">
        {% if user_view.photo and permissions != 'closed' %}
            <img class="account_photo" src="{{ user_view.photo }}" width="350px">
        {% endif  %}
        <h1>{{ user_view.user.first_name }} {{ user_view.user.last_name }}</h1>
        {% if permissions != 'closed' %}
            <p><b>{{ list.email }}</b>: {{ user_view.user.email }}</p>
            <p><b>{{ list.sex }}: </b>{{ get_sex }}</p>
            <p><b>{{ list.age }}: </b>{{ user_view.age }}</p>
            <p><b>{{ list.country }}</b>: {{ user_view.country }}</p>
            <p><b>{{ list.city }}: </b>{{ user_view.city }}</p>
            {% if user.id != user_view.user.id %}
                <a href="">Добавить в друзья</a>
            {% endif %}
        {% else %}
            <h3>{{ list.permissions }}</h3>
        {% endif %}
    </div>
{% endblock %}