<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "mainpage/base.css" %}">
</head>
<body>

<script>
    function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    function choose_lang() {
        if (getCookie('lang') == 'ru') {
            document.cookie = "lang=en; path=/";
        } else {
            document.cookie = "lang=ru; path=/";
        }
        location.reload();
    }
</script>

<header>
    <a class="NAME" href="/">{{ list.NAME }}</a>
    {% if user.is_authenticated %}
        <a href="/account"><img width="40px" style="border-radius: 999px" src="{{ your_user.get_photo }}"></a>
        <a href="/friends">{{ list.Friends }}</a>
        <a href="/groups">{{ list.groups }}</a>
        <a href="/messenger/">{{ list.messenger }}</a>
        <a href="/photos">{{ list.photos }}</a>
        <a href="/logout?url={{ request.path }}">{{ list.LogOut }}</a>
    {% endif %}
    {% if not user.is_authenticated %}
        <a href="/login">{{ list.login }}</a>
    {% endif %}
    <button style="margin-left: 5px" class="button choose_lang" onclick="choose_lang()">{{ list.choose_lang }}</button>
</header>

<main>
    {% block content %}
{% endblock %}
</main>

<footer>
    <p><a href="https://github.com/zovenor/social_network"><b>{{ list.NAME }}</b></a> {{ list.created_by }} <a href="https://github.com/zovenor"><b>Zovenor</b></a></p>
</footer>

</body>
</html>