{% extends 'mainpage/base.html' %}

{% block title %}{{ list.title }}{% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'mainpage/friends.css' %}">

    <h1>{{ list.your_friends }}</h1>

    <ul>
        {% for el in friends %}
            {% if user.id == el.user1 %}

                <li class="user"><a href="/{{ el.get_user2_username }}">
                    {% if el.get_user2_name == "DELETED" %}
                        <b><img src="{% static "mainpage/img/user.png" %}" class="user_photo">{{ list.user_del }}</b>
                    {% else %}
                        <b><img class="user_photo" src="{{ el.get_user2.get_photo }}">{{ el.get_user2_name }}</b>
                    {% endif %}
                </a><a class="action remove_friend" href="?rm=id{{ el.user2 }}">{{ list.remove_friend }}</a></li>

            {% else %}

                <li class="user"><a href="/{{ el.get_user1_username }}">
                    {% if el.get_user1_name == "DELETED" %}
                        <b><img src="{% static "mainpage/img/user.png" %}" class="user_photo">{{ list.user_del }}</b>
                    {% else %}
                        <b><img class="user_photo" src="{{ el.get_user1.get_photo }}">{{ el.get_user1_name }}</b>
                    {% endif %}
                </a><a class="action remove_friend" href="?rm=id{{ el.user1 }}">{{ list.remove_friend }}</a></li>

            {% endif %}
        {% endfor %}
    </ul>


    <h1>{{ list.friend_requests }}</h1>
    <h2>{{ list.incoming_requests }}</h2>
    <ul>
        {% for el in incoming_requests %}
            <li class="user"><a href="/{{ el.get_user1_username }}">
                {% if el.get_user1_name == "DELETED" %}
                    <b><img src="{% static 'mainpage/img/user.png' %}" class="user_photo">{{ list.user_del }}</b>
                {% else %}
                    <b><img class="user_photo" src="{{ el.get_user1.get_photo }}">{{ el.get_user1_name }}</b>
                {% endif %}
            </a> <a class="action accept_request" href="?add=id{{ el.user1 }}">{{ list.accept_the_request }}</a></li>
        {% endfor %}
    </ul>

    <h2>{{ list.outgoing_requests }}</h2>
    <ul>
        {% for el in outgoing_requests %}
            <li class="user"><a href="/{{ el.get_user2_username }}">
                {% if el.get_user2_name == "DELETED" %}
                    <b>{{ list.user_del }}</b>
                {% else %}
                    <b><img src="{{ el.get_user2.get_photo }}" class="user_photo">{{ el.get_user2_name }}</b>
                {% endif %}
            </a> <a class="action remove_request" href="?rm_request=id{{ el.user2 }}">{{ list.remove_request }}</a></li>
        {% endfor %}
    </ul>

    <h1>{{ list.all_users }}</h1>
    <ul>
        {% for el in all_users %}
            <li class="user">
                <b><a href="/{{ el.user.username }}"><img width="40px" class="user_photo"
                                                          src="{{ el.get_photo }}">{{ el.user.first_name }} {{ el.user.last_name }}
                </a></b>
                {% if el.user.id in id_list.friends %}
                    <a class="action remove_friend" href="?rm=id{{ el.user.id }}">{{ list.remove_friend }}</a>
                {% elif el.user.id in id_list.incoming_requests %}
                    <a class="action accept_request" href="?add=id{{ el.user.id }}">{{ list.accept_the_request }}</a>
                {% elif el.user.id in id_list.outgoing_requests %}
                    <a class="action remove_request" href="?rm_request=id{{ el.user.id }}">{{ list.remove_request }}</a>
                {% elif el.user.id != user.id %}
                    <a class="action add_request" href="?add_request=id{{ el.user.id }}">{{ list.add_request }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}