{% extends 'mainpage/base.html' %}

{% block title %}{{ list.title }}{% endblock %}

{% load static %}

{% block content %}

    {% if error %}
        <script>
            alert('{{ error }}');
        </script>
    {% endif %}

    <link rel="stylesheet" href="{% static 'mainpage/groups.css' %}">
    <h1>{{ list.title }}</h1>


    {% if create == True %}
        <form method="POST">
        {% csrf_token %}
            <p><b>{{ list.name }}: </b><input required value="{{ pl.name }}" name="name" type="text"></p>
            <p><b>{{ list.description }}: </b><textarea required name="description" type="text">{{ pl.description }}</textarea></p>
            <p><b>{{ list.groupname }}: </b><input required value="{{ pl.groupname }}" name="groupname" type="text"></p>
            <p><input class="button" value="{{ list.create }}" type="submit"></p>
        </form>
    {% else %}
        <h3>

        {% if request.user.is_authenticated %}
            {% if request.GET.all %}
                <a href="/groups" class="button">{{ list.your_groups }}</a>
            {% else %}
                <a href="?all=True" class="button">{{ list.all_groups  }}</a>
            {% endif %}
            <a class="button" href="?create=True">{{ list.create_group }}</a>
        {% endif %}

        </h3>
        <ul>
            {% for el in groups %}
                <li><a class="group" href="/{{ el.groupname }}"><div style="background-image: url('{{ el.get_photo }}');" class="img-group"></div><span class="group_name">{{ el.name }}</span></a></li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}