{% extends 'mainpage/base.html' %}

{% block title %}{{ group.name }}{% endblock %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'mainpage/group.css' %}">

    <div class="group">
    {% if edit == True %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="background-image: url('{{ group.get_photo }}')" class="group_photo"></div>
            <p><input name="photo" accept="image/*,image/jpeg" type="file"></p>
            <a href="?choose_photo=True" class="button">Choose a photo</a>
            <a href="?rm_photo=True" class="button">Remove the photo</a>
            <p><input name="name" value="{{ group.name }}"></p>
            <textarea name="description">{{ group.description }}</textarea>
            <h3 style="display: flex; align-items: center;">
                <span>{{ list.admin }}:</span>
                <select name="admin">
                    {% for el in editors %}
                        <option {% if el == group.admin %}selected{% endif %}
                                value="{{ el.user.username }}">{{ el.user.first_name }} {{ el.user.last_name }}
                            ({{ el.user }})
                        </option>
                    {% endfor %}
                </select>
            </h3>
            <h3 style="display: flex; align-items: center;">
                <span>{{ list.editors }} ({{ list.del_editor }}):</span>
                <select name="editors" multiple>
                    {% for el in editors %}
                        <option value="{{ el.user.username }}">{{ el.user.first_name }} {{ el.user.last_name }} ({{ el.user }})</option>
                    {% endfor %}
                </select>
            </h3>
            <h3 style="display: flex; align-items: center;">
                <span>{{ list.editors }} ({{ list.add_editor }}):</span>
                <select name="add_editors" multiple>
                    {% for el in add_editors %}
                        <option value="{{ el.user.username }}">{{ el.user.first_name }} {{ el.user.last_name }} ({{ el.user }})</option>
                    {% endfor %}
                </select>
            </h3>
            <input class="button" value="{{ list.save }}" type="submit">
        </form>

    {% elif choose_photo == True %}

        <div class="photos">
            {% for el in photos %}
                <a href="?choose_photo_by_id={{ el.id }}"><div style="background-image: url('{{ el }}')" class="photo"></div></a>
            {% endfor %}
        </div>

    {% else %}

        <div style="background-image: url('{{ group.get_photo }}')" class="group_photo"></div>
        <div class="info">
        <h1 class="name_of_group">{{ group.name }}</h1>
        <p class="description">{{ group.description }}</p>
        <h3 style="display: flex; align-items: center;">
            <span>{{ list.admin }}:</span>
            <a class="admin" href="/{{ group.admin.user.username }}">
                <div style="background-image: url('{{ group.admin.get_photo }}')" class="admin_img"></div>
                <b class="admin_name">{{ group.admin.user.first_name }} {{ group.admin.user.last_name }}</b>
            </a>
        </h3>
        <h3 style="display: flex;">
            <span style="margin-top: 20px">{{ list.editors }}:</span>
            <ul class="editors">
                {% for el in editors %}
                    <li>
                        <a class="editor" href="/{{ el.user.username }}">
                            <div style="background-image: url('{{ el.get_photo }}')" class="admin_img"></div>
                            <b class="admin_name">{{ el.user.first_name }} {{ el.user.last_name }}</b>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </h3>

        {% if group.admin.user == request.user %}
            <a class="button edit" href="?edit=True">{{ list.edit }}</a>
        {% endif %}

        {% if your_user not in followers and user.is_authenticated %}
            <a class="button follow" href="?follow=True">{{ list.follow }}</a>
        {% endif %}

        <h1>{{ list.followers }}</h1>
        <section class="followers">
            <ul>
                {% for el in followers %}
                    <li><a class="fol" href="/{{ el.user.username }}">
                        <div style="background-image: url('{{ el.get_photo }}')" class="fol_img"></div>
                        <b class="group_name">{{ el.user.first_name }} {{ el.user.last_name }}</b></a></li>
                {% endfor %}
            </ul>
        </section>
        </div>
    {% endif %}
    </div>

{% endblock %}