{% extends "mainpage/base.html" %}

{% block title %}{{ list.title }}{% endblock %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'mainpage/photos.css' %}">
    {% if error %}
        <script>alert("{{ error }}");</script>
    {% endif %}
    {% if request.GET.add_photo == "True" and  user.is_authenticated %}
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <h1>{{ list.add_photo }}</h1>
            <input class="input" required name="photo" type="file" accept="image/*,image/jpeg">
            <input class="button" value="{{ list.add_photo }}" type="submit">
        </form>

    {% elif photos != None %}

        <h1>{{ list.your_photos }}</h1>
        <div class="photos">
        {% for el in photos %}
            <div class="photo">
                <div style="background-image: url('{{ el }}')"></div>
                <p><b>{{ list.date }}: </b>{{ el.date }}</p>
            </div>
        {% endfor %}
        </div>

    {% else %}

        <h1>{{ list.all_photos }}</h1>
        <div class="photos">
        {% for el in all_photos %}
           <div class="photo">
               <div style="background-image: url('{{ el }}')"></div>
            <p><b>{{ list.user }}: </b><a href="/{{ el.user.username }}">{{ el.user.first_name }} {{ el.user.last_name }}</a></p>
           <p><b>{{ list.date }}: </b>{{ el.date }}</p>
           </div>
        {% endfor %}
        </div>

    {% endif %}
    <h3>
        {% if user.is_authenticated and not request.GET.add_photo %}
            <a class="button" href="?add_photo=True">{{ list.add_photo }}</a>
        {% endif %}
        {% if list.redirect_to_all_photos %}
            <a class="button" href="?all=True">{{ list.redirect_to_all_photos }}</a>
        {% endif %}
        {% if list.to_your_photos %}
            <a class="button" href="/photos">{{ list.to_your_photos }}</a>
        {% endif %}
    </h3>

{% endblock %}