body{
    padding: 0;
    margin: 0;
}
header{
    background-color: cadetblue;
    padding: 10px;
    color: #FFF;
}
header a{
    text-decoration: none;
    color: #FFF;
    margin: 5px;
}
main{
    padding: 20px;
}