.account_photo{
    border-radius: 999px;
    width: 350px;
    margin-bottom: 20px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main{
    display: flex;
    flex-flow: row;
}
.accept_request{
    color: #264b5d;
    border-color: #264b5d;
}
.accept_request:hover{
    background-color: #264b5d;
}
.remove_request{
    color: #f5dd5d;
    border-color: #f5dd5d;
}
.remove_request:hover{
    background-color: #f5dd5d;
}
.add_request{
    color: #006b1b;
    border-color: #006b1b;
}
.add_request:hover{
    background-color: #006b1b;
}
.remove_friend{
    color: #993333;
    border-color: #993333;
}
.remove_friend:hover{
    background-color: #993333;
}
.edit{
    color: cadetblue;
    border-color: cadetblue;
}
.edit:hover{
    background-color: cadetblue;
    color: #222226;
}
.account{
    display: flex;
    flex-flow: column;
}
.user_photo{
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.user, .group{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.account{
    margin-right: auto;
    width: 40%;
    align-items: center;
}
.posts{
    display: flex;
    flex-flow: column;
    width: 60%;
    align-items: center;
}
.post{
    width: 75%;
    background-color: #1a1a1e;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}
.likes{
    display: flex;
    align-items: center;
}
.likes *{
    margin: 5px;
}