body {
    padding: 0;
    margin: 0;
    background: #222226;
    color: #777;
    font-family: Calibri;
}

header {
    background: #333336;
    padding: 10px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 999;
    box-shadow: 20px 0px 20px #111113;
}

.NAME {
    position: fixed;
    left: 20px;
    font-size: 30px;
}

header a {
    text-decoration: none;
    margin: 5px;
    color: #777;
}

main {
    padding: 20px;
    padding-top: 90px;
}
main a{
    text-decoration: none;
    color: #777;
}
li{
    list-style-type: none;
}
.button{
    border: #777 2px solid;
    border-radius: 999px;
    padding: 10px;
    transition: .5s;
    color: #777;
    background-color: #222226;
}
.button:hover{
    background: #777;
    color: #222226;
}
.choose_lang{
    border: 0px;
    background-color: #777;
    color: #222226;
}
.choose_lang:hover{
    background-color: #222226;
    color: #777;
}