main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.messages_block{
    background-color: #333336;
    padding: 20px;
    display: flex;
    flex-flow: column;
    border-radius: 35px;
    width: 60%;
    height: 70vh;
    justify-content: flex-end;
    align-items: center;
}
.messages{
    overflow-y: auto;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    background-color: #222226;
    border-radius: 20px;
    width: 90%;
}
.messages::-webkit-scrollbar{
    width: 0px;
    background-color: #333336;
}
.message{
    background-color: #333336;
    padding: 15px;
    border-radius: 20px;
    width: fit-content;
    max-width: 50%;
    word-wrap: break-word;
}
.user1{
    margin-left: auto;
}
.mes_input{
    background-color: #222226;
    border: 0px solid white;
    color: #777;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: 90%;
}
.mes_input:focus{
    border: 0px solid white;
    outline: none !important;
}
time{
    font-size: small;
}
.user_photo{
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background-repeat: no-repeat;
    background-size: cover;
}
.user{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.user_name{
    margin-left: 10px;
}